.body {
  height: 100%;
}
.toprow {
  background-image: url("h_img.jpg");
  background-size: cover;
  background-position: top;
  height: 50vh;
  width: 50vw;
  padding-top: 100px;
  text-align: center;
  color: white;
}
.aboutUs {
  color: black;
  text-align: center;
  font-size: 14px;
  padding-top: 30px;
}
.midrow {
  background-image: url("s_image.jpg");
  background-size: cover;
  background-position: top;
  height: 30vh;
  width: 50vw;
  padding-top: 100px;
  text-align: center;
  font-size: 13px;
  color: white;
}
.servicesRow {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.portfolio {
  text-align: center;
}
.portfolioImages {
  align-content: center;
}
.contactUsRow {
  background-image: url("c_image.jpg");
  background-size: cover;
  background-position: top;
  height: 50vh;
  width: 50vw;
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
  color: white;
}
.socialRow {
  padding: 20px;
  text-align: center;
}
.textarea {
  opacity: 1;
  border-color: white;
}
