.body {
  height: 100%;
}
.toprow {
  background-image: url("h_img.jpg");
  background-size: cover;
  background-position: top;
  height: 50vh;
  width: 50vw;
  padding-top: 100px;
  text-align: center;
  color: white;
}
.aboutUs {
  color: black;
  text-align: center;
  font-size: 14px;
  padding-top: 30px;
}
.midrow {
  background-image: url("s_image.jpg");
  background-size: cover;
  background-position: top;
  height: 30vh;
  width: 50vw;
  padding-top: 100px;
  text-align: center;
  font-size: 13px;
  color: white;
}
.servicesRow {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.portfolioRow {
  text-align: center;
}
.portfolioImages {
  align-content: center;
}
.contactUsRow {
  background-image: url("c_image.jpg");
  background-size: cover;
  background-position: top;
  height: 50vh;
  width: 50vw;
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
  color: white;
}
.socialRow {
  padding: 20px;
  text-align: center;
}
.textarea {
  background-color: none;
  text-align: right;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}

p2 {
  font-size: 12px;
}

input {
background-color: rgba(0,0,0,0.1);
}

textarea {
  border-color: white;
  background: transparent;
  color: white;
}

.weDo{
  padding-top: 20px;
}

.whatWeDoRow {
  padding-top: 50px;
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.imagetoggle10 {
  background-image: url("portfolio/work1.jpg");
  color: white;
}
